.last-stack-item{
    background-color: inherit;
    transition: background-color 500ms ease-in-out;
    animation: last-stack-item-animation 1s;
}
.last-stack-item:hover{
    background-color: red;
}

@keyframes last-stack-item-animation{
    100%{
        background-color:aquamarine;
    }
}