.first-queue-item{
    background-color: inherit;
    transition: background-color 500ms ease-in-out;
}

.last-queue-item{
    background-color: inherit;
    animation: last-queue-item-animation 500ms ease-in-out;
}

.first-queue-item:hover{
    background-color: red;
}

@keyframes last-queue-item-animation{
    100%{
        background-color: aquamarine;
    }
}