:root{
    font-size: 1.2em;
    font-weight: bolder;
    background-color: #fdf0d5;
    text-transform: capitalize;
    --clr-bg: #fdfdfd;
    --clr-primary: #003049;
    --clr-secondary: #669bbc;
    --clr-warning: #c1121f;
    --clr-success: #2ec4b6;
}
.bg-bg{
    background-color: #fdf0d5;
}
.bg-primary{
    background-color: #003049;
}
.bg-secondary{
    background-color: #669bbc;
}
.height-max-content{
    height: max-content;
}
.invisible-button{
    background: none;
    border: none;
}
.flex{
    display: flex;
}
.flex-direction-row{
    flex-direction: row;
}
.flex-direction-column{
    flex-direction: column;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-between{
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
}
.gap-1-rem{
    gap: 0.5rem;
}
.gap-2-rem{
    gap: 1rem;
}
.gap-3-rem{
    gap: 1.5rem;
}
.height-100{
    height: 100%;
}
.width-100{
    width: 100%;
}
.position-relative{
    position: relative;
}
.position-absolute{
    position: absolute;
}
.position-fixed{
    position: fixed;
}
.all-dir-0{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.top-0{
    top: 0;
}
.left-0{
    left: 0;
}
.z-index-n-1{
    z-index: -1;
}
.z-index-100{
    z-index: 100;
}
.z-index-1000{
    z-index: 1000;
}
.capitalize{
    text-transform: capitalize;
}
.thick-i{
    font-weight: 900;
    font-size: 1em;
}
.p-1-rem{
    padding: 0.5rem;
}
.p-2-rem{
    padding: 1rem;
}
.p-3-rem{
    padding: 1.5rem;
}
.b-1-black{
    border: 1px solid black;
}
.b-1-radius{
    border-radius: 0.25rem;
}
.b-2-radius{
    border-radius: 0.5rem;
}
.b-3-radius{
    border-radius: 0.75rem;
}
.b-4-radius{
    border-radius: 1rem;
}
.heighlited-char{
    fill: var(--clr-secondary);
    color: var(--clr-secondary);
}
.unmatching-char{
    fill: var(--clr-warning);
    color: var(--clr-warning);
}
.found-char{
    fill: var(--clr-success);
    color: var(--clr-success);
}
.button{
    padding: 0.25rem;
    min-width: 5rem;
    min-height: 1.7rem;
    border-radius: 0.4rem;
    border: 0.5px solid black;
    text-transform: capitalize;
    background-color: var(--clr-primary);
    color: white;
    transition: background-color 200ms ease-in-out;
}
.button:hover{
    background-color: var(--clr-secondary);
}
.heighlited-node{
    background-color: var(--clr-secondary);
}
.unmatching-node{
    background-color: var(--clr-warning);
}
.found-node{
    background-color: var(--clr-success);
}