:root{
    font-size: 1.2em;
    font-weight: bolder;
}
.height-max-content{
    height: max-content;
}
.invisible-button{
    background: none;
    border: none;
}
.flex{
    display: flex;
}
.flex-direction-row{
    flex-direction: row;
}
.flex-direction-column{
    flex-direction: column;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-between{
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
}
.gap-1-rem{
    gap: 0.5rem;
}
.gap-2-rem{
    gap: 1rem;
}
.gap-3-rem{
    gap: 1.5rem;
}
.height-100{
    height: 100%;
}
.width-100{
    width: 100%;
}
.position-relative{
    position: relative;
}
.position-absolute{
    position: absolute;
}
.position-fixed{
    position: fixed;
}
.all-dir-0{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.top-0{
    top: 0;
}
.left-0{
    left: 0;
}
.z-index-n-1{
    z-index: -1;
}
.z-index-100{
    z-index: 100;
}
.z-index-1000{
    z-index: 1000;
}
.capitalize{
    text-transform: capitalize;
}
.heighlited-char{
    fill: blueviolet;
    color: blueviolet;
}
.unmatching-char{
    fill: red;
    color: red;
}
.found-char{
    fill: aquamarine;
    color: aquamarine;
}
.heighlited-node{
    background-color: blueviolet;
}
.unmatching-node{
    background-color: red;
}
.found-node{
    background-color: aquamarine;
}